body {
  font-family: "Helvetica";
  background: rgb(62, 76, 94);
  background: linear-gradient(
    90deg,
    rgb(43, 57, 77) 0%,
    rgba(100, 64, 104, 0.76) 100%
  );
}

h1 {
  color: rgb(243, 170, 74);
  text-align: center;
  font-size: 50px;
  margin-top: 15px;
  margin-bottom: 10px;
}
p {
  color: rgb(250, 247, 245);
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
}

.score {
  font-size: 30px;
  width: 200px;
  height: 60px;
  border-radius: 5px;
  background-color: rgb(36, 32, 28);
  color: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.button {
  background-color: #d8cde4;
  color: #097cb1;
  height: 60px;
  width: 150px;
  border-radius: 5px;
  margin: 10px auto;
  margin-bottom: 15px;
  font-size: 25px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

.button:hover {
  background-color: #50c8ff;
  color: #303030;
  transition: background-color 0.5s, color 0.5s;
}

.canvas {
  width: 650px;
  height: 650px;
  background-color: rgb(92, 91, 91);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

table {
  margin: auto;
}

.cell {
  height: 150px;
  width: 150px;
  margin: 3px;
  background-color: rgba(238, 228, 218, 0.35);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.number {
  color: #252525;
  font-size: 70px;
}

.color-2 {
  background: #eee4da;
}

.color-4 {
  background: #f8dead;
}

.color-8 {
  background: #f2b179;
}

.color-16 {
  background: #f59563;
}

.color-32 {
  background: #f67c5f;
}

.color-64 {
  background: #f65e3b;
}

.color-128 {
  background: #edcf72;
}

.color-256 {
  background: #edcc61;
}

.color-512 {
  background: #edc850;
}

.color-1024 {
  background: #edc53f;
}

.color-2048 {
  background: #edc22e;
}
